/* imageList.tsx */
@media (min-width: 768px){
  .container-fluid {
    width: 100%;
    max-width: calc(100% - 64px);
  }
}

@media (min-width: 1280px) {
  .container-fluid {
    width: 100%;
    max-width: calc(100% - 144px);
  }
}

@media (min-width: 1920px) {
  .container-fluid {
    width: 1920px;
  }
}

/* DetailModal.tsx */
@media (min-width: 768px) and (max-width: 1399px) {
  .modal-content {
    margin-right: 70px;
    margin-left: 70px;
  }
}

@media (min-width: 768px){
  .modal-content {
    margin-bottom: 100px;
  }
}

.modal-content {
  margin-top: 32px;
  inset: 0 !important;
  border: none;
  background: none
}

.modal-open {
  overflow: hidden
}