a {
  text-decoration: none;
  color: inherit;
}

/* ImageDetailModal.tsx -----------------------------------------------------------------------*/
.modal-content {
  margin-top: 32px;
  inset: 0 !important;
  border: none;
  background: none;
}
.modal-open {
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1399px) {
  .modal-content {
    margin-right: 70px;
    margin-left: 70px;
  }
}

@media (min-width: 768px){
  .modal-content {
    margin-bottom: 100px;
  }
}

/* imageList.tsx ------------------------------------------------------------------------------*/
.ReactVirtualized__Masonry__innerScrollContainer {
   margin-left: auto;
   margin-right: auto;
}

@media (min-width: 0px) and (max-width: 755px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 504px !important;
  }
}

@media (min-width: 756px) and (max-width: 1007px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 756px !important;
  }
}

@media (min-width: 1008px) and (max-width: 1259px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 1008px !important;
  }
}

@media (min-width: 1260px) and (max-width: 1511px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 1260px !important;
  }
}

@media (min-width: 1512px) and (max-width: 1763px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 1512px !important;
  }
}

@media (min-width: 1764px) and (max-width: 2015px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 1764px !important;
  }
}

@media (min-width: 2016px) and (max-width: 2267px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 2016px !important;
  }
}

@media (min-width: 2268px) and (max-width: 2519px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 2268px !important;
  }
}

@media (min-width: 2520px) and (max-width: 2771px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 2520px !important;
  }
}

@media (min-width: 2772px) and (max-width: 3023px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 2772px !important;
  }
}

@media (min-width: 3024px) and (max-width: 3275px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 3024px !important;
  }
}

@media (min-width: 3276px) and (max-width: 3527px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 3276px !important;
  }
}

@media (min-width: 3528px) and (max-width: 3779px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 3528px !important;
  }
}

@media (min-width: 3780px) and (max-width: 4031px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 3780px !important;
  }
}

@media (min-width: 4032px) and (max-width: 4283px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 4032px !important;
  }
}

@media (min-width: 4284px) and (max-width: 4535px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 4284px !important;
  }
}

@media (min-width: 4536px) and (max-width: 4787px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 4536px !important;
  }
}

@media (min-width: 4788px) and (max-width: 5039px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 4788px !important;
  }
}

@media (min-width: 5040px) and (max-width: 5291px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 5040px !important;
  }
}

@media (min-width: 5292px) and (max-width: 5543px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 5292px !important;
  }
}

@media (min-width: 5544px) and (max-width: 5795px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 5544px !important;
  }
}

@media (min-width: 5796px) and (max-width: 6047px) {
  .ReactVirtualized__Masonry__innerScrollContainer {
    width: 5796px !important;
  }
}